# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Discovery
DISCOVERY_URL=<https://gateway-lon.watsonplatform.net/discovery/api>
DISCOVERY_ENVIRONMENT_ID=<258c4586-b0ab-475f-bf94-137c9ab11956>
DISCOVERY_COLLECTION_ID=<da70cf97-ad04-4f67-850b-3df702cbfcca>
DISCOVERY_IAM_APIKEY=<uljzlGOCvgJCcQ3OYnfo3mWZl1QtJ2cIXjBzKaJVSFfG>

# Run locally on a non-default port (default is 3000)
# PORT=3000
